<ion-view title="Editor">
    <ion-content>
        <div class="row">
            <pre>
                {{code}}
            </pre>
        </div>

        <div class="row">
            <button class="button button-dark" ng-repeat="s in suggest track by $index" ng-click="addToInput(s)" ng-show="s.complete">
                {{ s.name }}
            </button>
        </div>
    </ion-content>

    <div class="bar bar-footer">
        <div class="row item-input-inset">
            <label class="item-input-wrapper">
                <textarea type="search" placeholder="Type code here.." ng-model="input" ng-change="getSuggestions()" id="codeInput"></textarea>
            </label>
            <button class="button button-small" ng-click="addToCode()">
                Submit
            </button>
          <button class="button button-small" ng-click="githubLogin()">
          Connect to Github
          </button>
        </div>
    </div>
</ion-view>
