/* Empty. Add your own CSS if you like */
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ace_editor { height: 600px; }

.flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%
}

.codearea {
    flex: 1;
    -webkit-flex: 1;
    font-size: 20px;
    font-family: "Times New Roman";
    font-weight: 300;
}

.keyboard {
    flex: 0 0 30%;
    -webkit-flex: 0 0 30%;
}

.btn {
    cursor: pointer;
    background-color: #cfcdd1;
    text-align: center;
    vertical-align: top;
    display: inline-block;
    color: black;
    padding: 5px;
    border: 2px solid #8e8e8e;
    font-size: 16px;
    font-weight: 500;
    margin: 5px;
    max-width: 80px;
}

.btn:last-child, .btn:first-child {
    max-width: 100%
}

.content > .scroll {
    height: 100%;
}
