/* Empty. Add your own CSS if you like */
.center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.ace_editor { height: 600px; }

.hidden {
    display: none;
}

.flex {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 100%;
    background: black;
}

.CodeMirror {
    flex: 1;
    -webkit-flex: 1;
    height: auto;
}

.codearea {
    flex: 1;
    -webkit-flex: 1;
    font-size: 20px;
    font-family: "Times New Roman";
    font-weight: 300;
    overflow: scroll;
    background: transparent;
}

/*.keyboard {*/
    /*flex: 0 0 30%;*/
    /*-webkit-flex: 0 0 30%;*/
/*}*/

.keyboard-view {
    flex: 1;
    -webkit-flex: 1;
    height: 100%;
    background: black;
}

.keyboard-view .row{
    margin-bottom: 10px;
}

.keyboard-view .row:nth-child(2){
    padding-left: 15px;
    padding-right: 15px;
}

.btn {
    cursor: pointer;
    background-color: #4B4B4B;
    text-align: center;
    color: white;
    padding: 5px;
    /*border: 1px solid #8e8e8e;*/
    font-size: 24px;
    font-weight: bolder;
    margin: 2px;
    max-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;

    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;

    -webkit-box-shadow: 1px -2px 0px -1px rgba(255,255,255,0.50);
    -moz-box-shadow: 1px -2px 0px -1px rgba(255,255,255,0.50);
    box-shadow: 1px -2px 0px -1px rgba(255,255,255,0.50);
}

.small {
    font-size: 20px;
}


.btn.action {
    background-color: #292929;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 50px;
    margin-right: 8px;
}
/* .activated is a class added by Ionic when we click on an element */
.btn.activated {
    background-color: #717171;
    color: white;
}


.btn.action.activated {
    background-color: #717171;
    color: white;
}


/* Place a left margin when an action button follows a normal character button*/
.btn:not(.action) + .btn.action {
    margin-left: 8px;
}

.btn.action:first-child{
    margin-left: 0px;
}

.btn.action:last-child{
    margin-right: 0px;
}

.autocomplete {
    background: transparent;
    overflow-x: scroll;
    overflow-y: hidden;
    width: auto;
    white-space: nowrap;
    min-width: 0px;
    max-height: 50px;
}

.autocomplete > .button {
    min-width: -webkit-min-content;
    overflow-x: visible;
    color: white;
    font-size: 16px;
}

.content > .scroll {
    height: 100%;
}
